<!DOCTYPE html>
<html>
    <head>
        <title>Vovan's Blog</title>
    </head>
    <body>
        <div>
          <h1><a href="/">Sample</a></h1>
        </div>
        <!-- Starting for loop -->
        {% for post in posts %}
          <div>
            <!-- Accessing data -->
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
          </div>
        {% endfor %}
        <!-- Ending for loop -->
    </body>
</html>
